{{>base/head}}
{{>base/header}}
<main class="container">
    <table id="locationsTable" class="table table-hover"></table>

    <button id="addButton" type="button" class="btn btn-primary">
        Add new location
    </button>

    <div id="locationModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="id" />

                    <div class="form-group">
                        <label for="exampleInputEmail1">Fuel Level</label>
                        <input type="number" id="fuel" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/locations.js"></script>
{{>base/footer}}