<header class="container">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Airplanes</a></li>
        <li role="presentation"><a href="/airports">Airports</a></li>
        <li role="presentation"><a href="/flights">Flights</a></li>
    </ul>

    <div class="page-header">
        <h1>{{pageTitle}}</h1>
    </div>
</header>